/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nrkdjlfdkm] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-nrkdjlfdkm] {
    color: #0077cc;
}

.btn-primary[b-nrkdjlfdkm] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nrkdjlfdkm], .nav-pills .show > .nav-link[b-nrkdjlfdkm] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-nav .nav-link[b-nrkdjlfdkm] {
    font-weight: 500;
    margin: 0 10px;
}

.btn-warning[b-nrkdjlfdkm] {
    border-radius: 20px;
    padding: 6px 20px;
    font-weight: bold;
}

.btn-link[b-nrkdjlfdkm] {
    text-decoration: none;
    color: #000;
}


.border-top[b-nrkdjlfdkm] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-nrkdjlfdkm] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nrkdjlfdkm] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nrkdjlfdkm] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-nrkdjlfdkm] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
